.actor-banner {
  height: $space*20;
  overflow: hidden;
  position: relative;
  margin-bottom: $space*2;
  border-bottom: 1px solid $color-border-light;
  background: #000;
  background-size: cover !important;

  img {
    width: 100%;
  }

  @include e(text) {
    // @include absolute(bottom $space left 12%);
    display: inline-block;
    padding: $space/2 $space;
    margin-top: $space*15;
    background: $color-red;
    color: #fff;

    font-size: $h2-font-size;
    text-transform: uppercase;

  }
}

.actors {

  @include e(actor) {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: $space;

    width: 100%;

    color: $color-text;
    border-radius: $border-radius;
    border: 1px solid $color-border-light;

    @include e(image) {
      width: 100%;
      display: block;
      height: 150px;
      overflow: hidden;
      position: relative;
      background: #000;

      img {
        width: 100%;
      }
    }

    @include e(rank) {
      @include absolute(top $space/2 right $space/2);
      background: $color-red;
      color: #fff;
      padding: $space/4 $space;
      border-radius: $border-radius;
    }

    @include e(info) {
      padding: $space/2 $space;
      font-size: 12px;
      color: lighten($color-text, 20);
    }

    @include e(name) {
      @include absolute(bottom 0 left 0 right 0);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      text-align: left;
      width: 100%;
      z-index: 10;
      margin: 0;
      padding: $space/2 $space;
      font-size: 14px;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0, 0, 0, 0)),color-stop(1%,rgba(0, 0, 0, 0)),color-stop(100%,rgba(0, 0, 0, 0.65)));
      background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      background: linear-gradient(to bottom,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }

    @include e(phone) {

    }
  }
}
