.actor {
  @include e(name) {
    color: $color-red;
    text-transform: uppercase;
    font-size: $h3-font-size;
  }

  @include e(desc) {
    text-indent: $space*2;
  }

  @include e(info) {

    &,
    label {
      font-size: $paragraph-font-size;
    }

    label {
      color: $color-gray;
    }

    > .row {
      margin-bottom: $space/2;
    }
  }

  @include e(review) {

    @include e(rating) {
      margin: $space 0;
    }
  }
}
