.landing-page {
  @include position(fixed, top 0 left 0 right 0 bottom 0);
  z-index: 1;
  background: url(/static/images/wedding-in-goa.jpg) no-repeat center center fixed;
  background-size: cover;

  @include e(article) {
    @include position(absolute, top 50% left 50%);
    opacity: 0;
    padding: $space*3;
    background: rgba(255, 255,255, 0.8);
    border-radius: $border-radius;
    border: 1px solid $color-border-light;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  @include e(text) {

  }

  .search-box__input{
    margin-top: $space;
    width: 300px;
  }
}
