{% extends "base.html" %}

{% block content %}
  <div class="actor-banner" style="background: #000 url('/media/{{ actor_type_cover_img }}') center center no-repeat;">

    <div class="row">
      <div class="colums">
        <h1 class="actor-banner__text">{{ actor_type_name }}</h1>
      </div>
    </div>
  </div>

<!-- List View of actors, say Photographers -->
  <div class="row">
    <div class="medium-12 columns">
      <div class="actors row">
        {% for actor in actors %}
        <div class="medium-4 columns">
          <div class="actors__actor">
            <a class="actors__actor__image" href="{{actor.id}}">
              {% if actor.cover_image %}
              <img src="/media/{{ actor.cover_image }}" alt="{{ actor.name }}"></img>
              {% else %}
              <!-- <img src="/media/{{ actor.cover_image }}" alt="{{ actor.name }}"></img> -->
              {% endif %}
              <h2 class="actors__actor__name"> {{ actor.name }}</h2>
            </a>
            <div class="actors__actor__rank">{{ actor.rating.score }}</div>
            <div class="actors__actor__info">
              <div class="actors__actor__budget">
                <span>Budget</span>
                {{ actor.actor_meta.budget }}
              </div>
              <div class="actors__actor__place">
                {{ actor.location.city.name|capfirst }}
              </div>
              <div class="actors__actor__rating">{{ actor.rating.votes }} Review</div>
              <!-- <div class="actors__actor__phone">{{ actor.phone }}</div> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="pagination-centered">
    <ul class="pagination">
      {% if actors.has_previous %}
       <li class="arrow"> <a href="?page={{ actors.previous_page_number }}">&laquo;</a> </li>
      {% else %}
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
      {% endif %}

      {% for i in paginator %}
          <li {% if actors.number == i %} class="current" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
      {% endfor %}

      <!--<li class="unavailable"><a href="">&hellip;</a></li>-->


      {% if actors.has_next %}
        <li class="arrow"><a href="?page={{ actors.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a href="">&raquo;</a></li>
      {% endif %}

    </ul>
  </div>

{% endblock %}