{% extends "base.html" %}
{% load comments %}
{% load ratings %}



{% block content %}
{% if actor.cover_image %}
  <div class="actor-banner" style="background: #000 url('/media/{{  actor.cover_image }}') center center no-repeat;">
    <!-- <h1 class="actor-banner__text">{{  actor.name }}</h1> -->
  </div>
{% endif %}

<div class="row">
  <div class="medium-10 columns">
    <div class="actor">
      <h2 class="actor__name">{{ actor.name }}</h2>
      <p class="actor__desc">
        {{ actor.description }}
      </p>
      <div class="actor__info">
        {% if actor.actor_meta.budget %}
        <div class="row">
          <label class="small-2 columns">Budget</label>
          <span class='small-10 columns'>{{ actor.actor_meta.budget }}</span>
        </div>
        {% endif %}

        {% if actor.location.address %}
        <div class="row">
          <label class="small-2 columns">Address</label>
          <address class='small-10 columns' >
          {{ actor.location.address }}
          </address>
        </div>
        {% endif %}

        {% if actor.actor_meta.website %}
        <div class="row">
          <label class="small-2 columns">Website</label>
          <a class='small-10 columns' href="http://{{ actor.actor_meta.website }}" target="_blank">{{ actor.actor_meta.website }}</a>
        </div>
        {% endif %}

      {% if actor.phone %}
        <div class="row">
          <label class="small-2 columns">Phone</label>
          <span class='small-10 columns' >{{ actor.phone }} </span>
        </div>
      {% endif %}

      {% if actor.email %}
        <div class="row">
          <label class="small-2 columns">Email</label>
          <a class='small-10 columns' href="mailto:{{actor.email}}">{{actor.email}}</a>
        </div>
      </div>
      {% endif %}

      <div class="actor__review">
        <div class="actor__review__rating">
        {% rating_widget on actor.rating %}
          <span class="box--red box--red--rating">
            {{ actor.rating.score }}
            <small>/ 5</small>
          </span>
          Based on {{ actor.rating.votes }} rating
        </div>
      </div>

      <div class="actor__gallery">
        <ul class="clearing-thumbs small-block-grid-4" data-clearing>
        {% for image in actor.images.all %}
          <li><a class="th" href="/media/{{ image.image }}"><img src="/media/{{ image.image }}"></a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

  <div class="comments small-7">
    {% get_comment_count for actor as comment_count %}
    <p class="subheader">{{ comment_count }} reviews have been posted.</p>

    {% get_comment_list for actor as comment_list %}
    {% for comment in comment_list %}
      <div class="comments__comment">
        <p class="comments__comment__content">
          Comment: {{ comment.comment }}
        </p>
        <div class="comments__comment__meta clearfix">
          <span class="comments__comment__meta__author left">
            {{ comment.user_name }}
          </span>
          <span class="comments__comment__meta__time right">
            {{ comment.submit_date|timesince }} ago
          </span>
        </div>
      </div>
    {% endfor %}
    <div class="comment__form">
      <h4>Leave a review</h4>
      {% get_comment_form for actor as form %}
      <form action="{% comment_form_target %}" method="post">
          {% csrf_token %}
          {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
          {% for field in form %}
              {% if field.is_hidden %}
                  {{ field }}
              {% else %}
                  {% if field.name != "url" %}
                      {% if field.errors %}{{ field.errors }}{% endif %}
                      <label class="{{ field.name }}">{{ field.name|capfirst }}</label>{{ field }}
                  {% endif %}
              {% endif %}
          {% endfor %}
          <input name="post-comment" type="submit" value="Post" id="id_submit" class="button" />
      </form>
    </div>

</div>


  </div>
  <div class="medium-2 columns">
  </div>
</div>

{% endblock %}


