{% extends "base.html" %} {% block content %}
<section class="actor-type-page">
  <div class="listing-block row">

    {% for actor_type in actor_type_list %}
    <div class="medium-4 columns">

      {% if is_location_set %}
        <a class="listing-block__block" href="{{ actor_type.name }}/">
      {% else %}
        <a class="listing-block__block" href="bangalore/{{ actor_type.name }}/">
      {% endif %}

      <div class="listing-block__block__img">
        <img src="/media/{{ actor_type.cover_image }}"></img>
      </div>
      <h3 class="listing-block__block__text">
        {{ actor_type.label }}
      </h3>
      </a>
    </div>
    {% endfor %}

    </div>
  </section>

{% endblock %}
