{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
<section class="landing-page">
  <article class="landing-page__article text-center">
      <div class="am">
        Welcome to
          <h1 class="am__logo-text">
              almost
              <span class="am__logo">
                  <img src="/static/images/logo.png"></img>
              </span>
              married
          </h1>
          <div class="am__subtext subheader">
              We build your dream around you
          </div>
      </div>
      <div class="search-box row">
          <div class="search-box__text muted">
              Choose your wedding location
          </div>
          <div class="search-box__input small-5 small-centered columns">
            <label for="location-searchbox" class="hidden-for-small-up">City</label>
            <input id="location-searchbox" value="" class="location-searchbox" type="text" placeholder="Select a city" />
          </div>
      </div>
  </article>
</section>

{% endblock %}


{% block footer %}{% endblock %}
