$primary-color: #008cba;
$secondary-color: #e7e7e7;

$color-red: #f83e43;

$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$color-gray-light: #eee;
$color-gray: #888;
$color-gray-dark: #404040;

$body-font-color: $color-gray-dark;
$color-text :$color-gray-dark;
$color-border: #bbb;
$color-border-light: $color-gray-light;
