@mixin e($name) {
  @at-root &__#{$name} {
    @content;
  }
}

@mixin m($name) {
  @at-root &--#{$name} {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
  display: block;
}

@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i
    and $i + 1 <= length($args)
    and type-of( nth($args, $i + 1) ) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args) {
  @include position(absolute, $args);
}

#id_honeypot,.honeypot{
  display: none;
}

input.location-searchbox,input.actor-types-searchbox {
  opacity: 0;
}

.skip a {
  @include absolute(top auto left -10000px);
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

