.box {
  @include m(red) {
    color: #fff;
    background: $color-red;
    padding: $space/2;
    margin-right: $space/2;

    @include m(rating) {
      color: #fff;
      padding: $space/2 $space;
      border-radius: $border-radius;
    }
  }
}