.comments {
  background: $color-gray-light;
  padding: $space $space 0;
  margin: $space 0;

  .comments__comment {
    border-radius: $border-radius;
    background: rgba(255,255,255,0.4);
    padding: $space/2;

    @include e(content) {
      font-size: 90%;
    }

    @include e(meta) {
      display: block;
      font-size: 90%;
    }

    @include e(content) {

    }
  }
}
