.listing-block {
  @include e(block) {
    position: relative;
    float: left;
    overflow: hidden;

    height: $space*10;
    width: 100%;
    text-align: center;
    margin-bottom: $space;

    border: 1px solid $color-border-light;
    border-radius: $border-radius;
    background: #000;

    @include e(img) {
      z-index: 1;
      img {
        height: 100%;
        width: 100%;
      }
    }

    @include e(text) {
      @include absolute(bottom 0 left 0 right 0);

      width: 100%;
      z-index: 10;
      margin: 0;
      padding: $space/2;
      font-size: $h5-font-size;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0, 0, 0, 0)),color-stop(1%,rgba(0, 0, 0, 0)),color-stop(100%,rgba(0, 0, 0, 0.65)));
      background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      background: linear-gradient(to bottom,rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0)1%,rgba(0, 0, 0, 0.65)100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
  }
}
