#header {
  box-shadow: 1px 0 5px $color-gray;
}

.top-bar {

  @include e(brand-logo) {
    img {
      height: 100%;
    }
  }

  @include e(location-sector) {
    margin-top: 10px;
  }

  .select2-container .select2-choice, .select2-container .select2-choice .select2-arrow {
    border: 0;
  }
  .select2-container .select2-choice .select2-arrow {
    background: transparent;
  }
  .select2-container .select2-choice .select2-arrow b {
    background-position: -1px 5px;
  }

}

.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

