<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">

<head>
  <title>AlmostMarried.In</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/static/images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="keywords"           content="plan, wedding" />
  <meta property="og:locale"      content="en_IN" />
  <meta property="og:type"        content="community" />
  <meta property="og:title"       content="Almost Married" />
  <meta name="description"        content="Almost Married is a platform where the best wedding planners, designers, photographers etc are featured online.It is the one stop destination for all your wedding needs. Get estimates, post queries and know all what is available in the comfort of your home - we've done all the searching for you." />
  <meta property="og:description" content="Almost Married is a platform where the best wedding planners, designers, photographers etc are featured online.It is the one stop destination for all your wedding needs. Get estimates, post queries and know all what is available in the comfort of your home - we've done all the searching for you." />
  <meta property="og:url"         content="http://almostmarried.in/" />
  <meta property="og:site_name"   content="Almost Married" />



  <link rel="stylesheet" href="/static/dist/styles/main.css">
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-sham.min.js"></script>
      <![endif]-->
</head>

<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVMZ5G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WVMZ5G');</script>
  <!-- End Google Tag Manager -->
  <div class="skip"><a href="#content">Skip to Main Content</a></div>

{% block header %}
  <header id="header" class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <div class="column">
      <ul class="title-area">
        <li class="name top-bar__brand-logo">
          <a href="/"><img src="/static/images/logo-s.jpg"/></a>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

        <!-- Right Nav Section -->
        <ul class="right">

        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <div class="small-5 columns top-bar__location-sector">
                <label for="location-searchbox" class="hidden-for-small-up">City</label>
                <input id="location-searchbox"
                  value="1"
                  class="location-searchbox"
                  type="text"
                  placeholder="Select a city" />
              </div>
               <div class="small-5 columns top-bar__location-sector">
                <label for="actor-types-searchbox" class="hidden-for-small-up">Types</label>
                <input id="actor-types-searchbox"
                  value="1"
                  class="actor-types-searchbox"
                  type="text"
                  placeholder="Select a type" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
{% endblock %}

  <div class="yeild" id="content">
  {% block content %}
  {% endblock %}
  </div>

{% block footer %}
  <!-- Footer -->
  <footer id="footer">


  <div class="zurb-footer-bottom">
    <div class="row">
      <div class="medium-4 medium-4 push-8 columns">
        <ul class="home-social">
            <li><a href="http://twitter.com/almostmarriedin" class="twitter"></a></li>
            <li><a href="http://facebook.com/almostmarried.in" class="facebook"></a></li>
            <!-- <li><a href="/contactus" class="mail"></a></li> -->
          </ul>
       </div>
       <div class="medium-8 medium-8 pull-4 columns">
          <ul class="zurb-links">
            {# <li><a href="/about">About</a></li> #}
            <li><a href="http://blog.almostmarried.in">Blog</a></li>
            {# <li><a href="/contactus">Contact</a></li> #}
            {# <li><a href="/sitemap">Sitemap</a></li> #}
         </ul>
         <p class="copyright">&copy; 2014 AlmostMarried.in, Inc.Almost all rights reserved.</p>
      </div>
    </div>
  </div>
  </footer>
{% endblock %}


  <script src="/static/dist/js/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30496662-3', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

{% if is_debug %}
  <script src="//127.0.0.1:3002/browser-sync-client.1.3.6.js"></script>
{% endif %}


</body>

</html>
